{% extends 'base.html' %}
{% block content %}

<a href="{% url 'add_expense' %}" class="btn btn-primary">Add Expense</a>
<a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>

<h3>Total: ₹{{ total }}</h3>

<table class="table mt-3">
    <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
    </tr>

    {% for exp in expenses %}
    <tr>
        <td>{{ exp.description }}</td>
        <td>{{ exp.amount }}</td>
        <td>{{ exp.category }}</td>
    </tr>
    {% endfor %}
</table>

<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
let data = {
    labels: [{% for exp in expenses %}'{{ exp.category }}',{% endfor %}],
    datasets: [{
        label: 'Expenses',
        data: [{% for exp in expenses %}{{ exp.amount }},{% endfor %}],
    }]
};

new Chart(document.getElementById('myChart'), {
    type: 'bar',
    data: data
});
</script>

{% endblock %}